@font-face {
    font-family: 'lcd';
    src: url('../fonts/lcd.woff2') format('woff2');
}

@font-face {
    font-family: 'avente';
    src: url('../fonts/avante.woff2') format('woff2');
}

@font-face {
    font-family: 'dinBold';
    src: url('../fonts/dinpro_bold.otf') format('opentype');
}

@font-face {
    font-family: 'dinMed';
    src: url('../fonts/dinpro_CondMedium.otf') format('opentype');
}

@font-face {
    font-family: 'avanti';
    src: url('../fonts/avanti.woff2') format('woff2');
}

@font-face {
    font-family: 'avantiBold';
    src: url('../fonts/avantiBold.woff2') format('woff2');
}