$black: #000000;
$black2: #020004;
$white: #fefdfd;
$gray: #949495;
$gray_wt: #fafcfc;
$blue: #0089fd;
$bkue_dk1: #28316c;
$bkue_dk2: #011383;
$bkue_dk3: #011043;
$red: #fe0202;
$yel: #dda534;
$shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);