.header {
	background-color: $black;
	// background: url(../../assets/img/bg/start_bg.jpg) no-repeat center / cover;
	position: relative;
	z-index: 100;
	overflow: hidden;
}

.header__inner {
	padding-top: 45px;
	padding-bottom: 150px;
	height: 950px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 100;
	position: relative;
	pointer-events: none;

	@media (max-width: 1700px) {
		padding-top: 45px;
		height: 830px;
		padding-bottom: 50px;
	}

	@media (max-width: 1500px) {
		height: 720px;
	}

	@media (max-width: 1400px) {
		height: 680px;
	}

	@media (max-width: 992px) {
		height: 560px;
	}

	@media (max-width: 700px) {
		padding-top: 30px;
		height: 420px;
		padding-bottom: 10px;
	}
}

.header__slide__info {
	margin-bottom: 310px;

	@media (max-width: 1700px) {
		margin-bottom: 160px;
	}

	@media (max-width: 700px) {
		margin-bottom: 150px;
	}
}

.header__logo {
	max-width: 195px;

	@media (max-width: 1700px) {
		max-width: 160px;
	}

	@media (max-width: 992px) {
		max-width: 100px;
		margin-right: 10px;
	}

	@media (max-width: 700px) {
		max-width: 72px;
	}

	@media (max-width: 480px) {
		display: none;
	}
}

.header__top {
	display: flex;
	pointer-events: all;
}

.header__bottom {
	pointer-events: all;

	@media (max-width: 700px) {
		display: flex;
		flex-direction: column;
	}

	@media (max-width: 480px) {
		margin: 0 auto;
	}
}

.header__right__top {
	display: flex;
	flex-direction: column;

	@media (max-width: 480px) {
		width: 100%;
	}
}

.header__nav {
	margin-top: 40px;

	a {
		margin-right: 35px;
		font-size: 26px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 500;
		letter-spacing: 5px;
		text-transform: uppercase;
		color: $white;

		&:last-child {
			margin-right: 0;
		}

		@media (max-width: 1700px) {
			font-size: 24px;
		}

		@media (max-width: 992px) {
			font-size: 20px;
			margin-right: 30px;
		}

		@media (max-width: 700px) {
			font-size: 14px;
			margin-right: 10px;
			letter-spacing: 2px;
		}

		@media (max-width: 360px) {
			font-size: 13px;
			letter-spacing: 1px;
		}
	}

	@media (max-width: 992px) {
		margin-top: 0;
		margin-left: 20px;
	}

	@media (max-width: 700px) {
		margin-left: 0px;
	}

	@media (max-width: 480px) {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
}

.header__top__whatsapp {
	margin-top: 65px;
	margin-left: 75px;
	font-size: 48px;
	color: $white;
	letter-spacing: 6px;
	font-family: 'dinMed', Arial, Helvetica, sans-serif;
	position: relative;
	width: max-content;

	&::after {
		content: '';
		width: 50px;
		height: 50px;
		background: url(../../assets/img/icons/what_wt.png) no-repeat center / cover;
		position: absolute;
		left: -60px;
		top: 0;

		@media (max-width: 1700px) {
			top: -7px;
			width: 45px;
			height: 45px;
		}

		@media (max-width: 992px) {
			top: -8px;
			width: 40px;
			height: 40px;
		}

		@media (max-width: 700px) {
			width: 30px;
			height: 30px;
			top: -4px;
			left: -40px;
		}

		@media (max-width: 480px) {
			left: 0px;
		}
	}

	@media (max-width: 1700px) {
		font-size: 35px;
		letter-spacing: 9px;
		margin-top: 50px;
	}

	@media (max-width: 992px) {
		font-size: 30px;
		letter-spacing: 9px;
		margin-top: 30px;
	}

	@media (max-width: 700px) {
		font-size: 25px;
		letter-spacing: 3px;
		margin-left: 40px;
		margin-top: 15px;
	}

	@media (max-width: 480px) {
		margin: 14px auto 0;
		padding-left: 40px;
	}
}

.headir__soc {
	color: $blue;
	text-transform: uppercase;
	font-size: 30px;
	font-family: 'lcd', Arial, Helvetica, sans-serif;
	margin-right: 60px;
	letter-spacing: 7px;

	position: relative;
	width: max-content;

	&::after {
		content: '';
		width: 60px;
		height: 60px;
		background: url(../../assets/img/icons/what_wt.png) no-repeat center / cover;
		position: absolute;

		@media (max-width: 1700px) {
			width: 50px;
			height: 50px;
		}

		@media (max-width: 992px) {
			width: 40px;
			height: 40px;
		}
	}

	@media (max-width: 1700px) {
		font-size: 25px;
	}

	@media (max-width: 992px) {
		font-size: 20px;
		margin-right: 20px;
	}
}

.header__insta {
	margin-left: 130px;
	&::after {
		background: url(../../assets/img/icons/insta.png) no-repeat center / cover;
		left: -70px;
		top: -20px;

		@media (max-width: 1700px) {
			top: -17px;
		}

		@media (max-width: 992px) {
			top: -13px;
		}
	}

	@media (max-width: 992px) {
		margin-left: 75px;
	}

	@media (max-width: 700px) {
		margin-bottom: 35px;
		margin-left: 65px;
	}
}

.header__whatsapp {
	&::after {
		background: url(../../assets/img/icons/what.png) no-repeat center / cover;
		right: -80px;
		top: -35px;

		@media (max-width: 1700px) {
			top: -25px;
		}

		@media (max-width: 992px) {
			top: -13px;
			right: -70px;
		}
	}
}

.header__slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	z-index: 10;
}

.header__slide {
	height: 100%;
	width: 100vw;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: end;

	@media (max-width: 600px) {
		background-position: 30px !important;
	}
}

.header__slide__img {
	position: absolute;
	max-width: 620px;
	top: 0;
	right: 0;
}

.header__slide__toptitle {
	pointer-events: none;
	font-size: 80px;
	letter-spacing: 15px;
	line-height: 1.1;
	margin-top: auto;
	color: $blue;
	font-family: 'lcd', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	margin-bottom: 30px;
	width: max-content;

	@media (max-width: 1700px) {
		font-size: 60px;
	}

	@media (max-width: 992px) {
		font-size: 40px;
	}

	@media (max-width: 700px) {
		font-size: 30px;
		margin-bottom: 10px;
		letter-spacing: 10px;
	}

	@media (max-width: 400px) {
		font-size: 28px;
		letter-spacing: 5px;
	}
}

.header__slide__bottitle {
	pointer-events: none;
	color: $white;
	text-transform: uppercase;
	letter-spacing: 10px;
	line-height: 1.1;
	font-size: 50px;
	width: max-content;

	@media (max-width: 1700px) {
		font-size: 35px;
	}

	@media (max-width: 992px) {
		font-size: 30px;
	}

	@media (max-width: 700px) {
		font-size: 20px;
	}

	@media (max-width: 400px) {
		font-size: 18px;
		letter-spacing: 5px;
	}
}

.owl-dots {
	position: absolute;
	top: 50%;
	right: 0;
	display: flex;
	flex-direction: column;
	padding: 27px 25px;
	background-color: $bkue_dk3;

	@media (max-width: 1700px) {
		top: 42%;
		padding: 25px 22px;
	}

	@media (max-width: 700px) {
		top: 35%;
		padding: 15px 13px;
	}
}

.owl-dot {
	border-radius: 2px;
	margin-bottom: 7px;
	width: 7px;
	height: 20px;
	border: none;
	background-color: $white;
	transition: .2s;

	&.active {
		background-color: $blue;
		transition: .2s;
	}

	&:hover {
		cursor: pointer;
	}

	@media (max-width: 1700px) {
		width: 5px;
	}
}