<div class="about">
	<div class="container">
		<div class="about__inner">
			<h2 class="about__title">О нас</h2>
			<p class="about__subtitle">Добро пожаловать в Полиграфию Алматы</p>
			<a href="" class="about__link">donna_design.kz</a>

			<div class="about__main">
				<p class="about__text">
						&emsp;&ensp;Воплотим Ваши идеи в реальность! <br><br>

						&emsp;&ensp;В нашем распоряжении собственное печатное
						оборудование с известными марками XEROX,
						EPSON, чтобы обеспечить максимальное<br>
						качество изготавливаемой продукции.<br><br>

						&emsp;&ensp;Мы рады Вам предложить изготовление
						печатной продукции любого типа и формата от
						визиток и листовок до изготовления пластиковых
						дисконтных карт, абонементов.<br><br>

						&emsp;&ensp;Выбирая нас Вы получите качественный
						продукт, сэкономите время и деньги!
				</p>
				<form action="" class="about__form">
					<p class="about__form__title">Оставить <br> заявку!</p>
					<p class="about__form__text">Мы свяжемся с Вами <br>в ближайшее время</p>
					<input name="name" type="text" placeholder="Ваше имя" class="about__form__input">
					<input name="phone" id="phone1" type="tel" placeholder="Номер телефона" class="about__form__input">
					<input name="message" type="text" placeholder="Сообщение" class="about__form__input">
					<button type="submit" class="about__form__btn">Отправить</button>
				</form>
			</div>

			<p class="about__subtext">Остались вопросы, воспользуйтесь кнопкой ОСТАВИТЬ ЗАЯВКУ.</p>
			<p class="about__subminitext">Мы с радостью примем Ваш заказ!</p>
		</div>
	</div>
</div>