<header class="header">
	<div class="container">
		<div class="header__inner">
			<div class="header__top">
				<div class="header__logo">
					<img src="@i/logo.png" alt="logo" class="header__logo__img">
				</div>
				<div class="header__right__top">
					<div class="header__nav">
						<a href="#main" class="header__nav__item">Главная</a>
						<a href="#uslugi" class="header__nav__item">Услуги</a>
						<a href="#about" class="header__nav__item">О нас</a>
						<a href="#contact" class="header__nav__item">Контакты</a>
					</div>
					<a href="tel:+77077364046" class="header__top__whatsapp">+7 707 736 40 46</a>
				</div>
			</div>
			<div class="header__bottom">
				<a href="" class="header__insta headir__soc">Instagram</a>
				<a href="" class="header__whatsapp headir__soc">whats`app</a>
			</div>
		</div>
	</div>

	<div class="header__slider">
		<div class="header__slide" style="background: url(../../assets/img/bg/slide_bg1.jpg) no-repeat center / cover">
			<div class="container">
				<div class="header__slide__info">
					<p class="header__slide__toptitle">РАЗДАТОЧНЫЙ <br> МАТЕРИАЛ</p>
					<p class="header__slide__bottitle">ЛИСТОВКИ, ЛИФЛЕТ <br> БУКЛЕТЫ, БРОШЮРЫ</p>
				</div>
			</div>
		</div>
		<div class="header__slide" style="background: url(../../assets/img/bg/slide_bg1.jpg) no-repeat center / cover;">
			<div class="container">
				<div class="header__slide__info">
					<p class="header__slide__toptitle">РАЗДАТОЧНЫЙ <br> МАТЕРИАЛ</p>
					<p class="header__slide__bottitle">ЛИСТОВКИ, ЛИФЛЕТ <br> БУКЛЕТЫ, БРОШЮРЫ</p>
				</div>
			</div>
		</div>
		<div class="header__slide" style="background: url(../../assets/img/bg/slide_bg1.jpg) no-repeat center / cover;">
			<div class="container">
				<div class="header__slide__info">
					<p class="header__slide__toptitle">РАЗДАТОЧНЫЙ <br> МАТЕРИАЛ</p>
					<p class="header__slide__bottitle">ЛИСТОВКИ, ЛИФЛЕТ <br> БУКЛЕТЫ, БРОШЮРЫ</p>
				</div>
			</div>
		</div>
	</div>
</header>