<div class="visit">
	<div class="visit__inner">
		<div class="visit__top">
			<div class="container">
				<h2 class="visit__title">Визитки</h2>
				<div class="visit__photos">
					<img src="../../assets/img/photo/visit1.jpg" alt="visit" class="visit__img">
					<img src="../../assets/img/photo/visit2.jpg" alt="visit" class="visit__img">
					<img src="../../assets/img/photo/visit3.jpg" alt="visit" class="visit__img">
					<img src="../../assets/img/photo/visit4.jpg" alt="visit" class="visit__img">
				</div>
			</div>
		</div>
		<div class="visit__bot">
			<div class="container">
				<p class="visit__text">
					Важная роль <span>визитки</span> играет в рекламных целях. На этой
					маленькой карточке поместится вся самая важная информация
					о продукции вашей компании, а презентабельный внешний вид
					будет стимулировать потребителя перезвонить Вам и узнать
					больше информации. <br>
					Качественно оформленная <span>визитка</span> - это лицо компании!<br><br>

					Заказать дизайн <span>визиток</span> или напечатать по собственному
					макету можете у нас!
				</p>
				<div class="visit__bottom">
					<p class="visit__text">Большой выбор бумаги и пластика.</p>
					<div class="visit__btn">Оставить заявку</div>
				</div>
			</div>
		</div>
	</div>
</div>